@font-face {
    font-family: "Assistant";
    src: url("https://constant.myntassets.com/www/fonts/Assistant-Regular.eot");
    src: url("https://constant.myntassets.com/www/fonts/Assistant-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://constant.myntassets.com/www/fonts/Assistant-Regular.woff") format("woff"),
        url("https://constant.myntassets.com/www/fonts/Assistant-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Assistant";
    src: url("https://constant.myntassets.com/www/fonts/Assistant-Bold.eot");
    src: url("https://constant.myntassets.com/www/fonts/Assistant-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://constant.myntassets.com/www/fonts/Assistant-Bold.woff") format("woff"),
        url("https://constant.myntassets.com/www/fonts/Assistant-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: "Assistant", sans-serif;
    /* background-color: #f8f9fa;    */
    margin: 0;
    padding: 0;
}