.logo-inline {
    width: 54px;
    height: 45px;
    display: inline-block;
    background-position: center;
    background-size: contain;
}

/* Hide scrollbar for mobile "You may also like" sections */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}